@charset "utf-8";
/* CSS Document */
.news{
	background-color: #333;
	position: relative;
	margin:30px;
	
}
.new{
	width: 1138px;
	height: 625px;
	margin: auto;
	display: flex;
	padding-top: 10px;
}
.leftnews{width: 549px;height: 600px; background-color:#444444;margin-right: 20px;text-align: center;}
.rightnews{width: 549px;height: 600px;background-color: #444444;margin-left: 20px;text-align: center;}
.qingbao1{float: left;height: 170px;display: flex;margin-top: 25px;}
.qingbao2{float: left;height: 170px;display: flex;margin-top: 25px;}
.qingbao3{float: left;height: 170px;display: flex;margin-top: 25px;}
.qingbao4{float: left;height: 170px;display: flex;margin-top: 25px;}
.cmyk{width: 170px;height: 170px;background-size: 100%;background: url("../image/cmyk.jpg");}
.tilte{width: 170px;height: 25px;background-color: #555555;}
.byakkai{width: 170px;height: 170px;background-size: 100%;background: url("../image/byakkai.jpg");}
.VA{width: 170px;height: 170px;background-size: 100%;background: url("../image/va-jacket.jpg");}
.axenick0{width: 170px;height: 170px;background-size: 100%;background: url("../image/axenick0.jpg");}
.zxqb{width: 1138px;height: 150px; background-color: black; position: relative;margin: auto;}